#conteneur{
  width: 100%;
  height: 30%;
  margin: auto;

  .btn-backToHome{
    font-size: 200%;
    color: white;
    position: absolute;
    top: 2%;
    left : 2%;
  }

  .bandeau {
    vertical-align:top;

    width: 100%;
    height: 30%;

  }

}

