.participant1{
    height: 50%;
    width: 100%;
    border-bottom : 1px solid darkgray
}

.participant2{
    height: 50%;
    width: 100%;

}

.pokeImage{
    width: 50%;
    height: 100%;
    float: right;
}

.pokeImage2{
    position: fixed;
    width: 40%;
    bottom: 0px;
}

.height{
    height:100%
}

