<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>combat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="participant1">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-chip>
                      <ion-label>{{ participants[1].pseudo}}</ion-label>
                  </ion-chip>
              </ion-col>
              <ion-col class="ion-justify-content-end">
                  <ion-chip>
                      <ion-label>{{ participants[1].team[0].nom }}</ion-label>
                  </ion-chip>                
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                     <ion-progress-bar [value]="participants[1].team[0].pv / 100"></ion-progress-bar>
              </ion-col>
              <ion-col>

              </ion-col>
          </ion-row> 
          <ion-row>
            <ion-col class="ion-justify-content-end">
              <img class="pokeImage" src={{participants[1].team[0].image}}>
            </ion-col>

          </ion-row>         
      </ion-grid>
  </div>
  <div class="participant2">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-chip>
                      <ion-label>{{ participants[0].team[0].nom }}</ion-label>
                  </ion-chip>
              </ion-col>
              <ion-col class="ion-justify-content-end">
                  <ion-chip>
                      <ion-label>{{ participants[0].pseudo}}</ion-label>
                  </ion-chip>                
              </ion-col>              
          </ion-row>
          <ion-row>
              <ion-col>   
              </ion-col>  
              <ion-col class="height">
                  <ion-progress-bar [value]="participants[0].team[0].pv / 100"></ion-progress-bar>
              </ion-col>                           
          </ion-row>
          <ion-row>
            <ion-col>
                <img class="pokeImage2" src={{participants[0].team[0].imageBack}}>
            </ion-col>
            <ion-col>
              <ion-row>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button (click)="setTour()" color="success" class="ion-color ion-color-success button button-solid ion-activatable ion-focusable hydrated" [disabled]="participants[0].tour">Attaque 1</ion-button>
                </ion-col> 
              </ion-row>                                      
            </ion-col>
          </ion-row>
      </ion-grid>
  </div>
</ion-content>
